@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500&family=Roboto:wght@100&display=swap');

.tamari_family {
    font-family: 'Kaisei Decol',
        serif;
}

body {
    margin: 0;
    background-color: #F7F7F7;
}

header {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 150px;
    text-align: center;
    background-color: #3cb371;
}

.store_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    height: 150px;
    text-align: center;
    background-color: #3cb1b3;
}

main {
    padding: 20px 0;
    max-width: 960px;
    margin: auto;
    background-color: #FFFFFF;
}

footer {
    font-size: 16px;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Kaisei Decol',
        serif;
}

.chartdiv {
    margin: auto;
    height: 200px;
    width: 400px;
}

canvas {
    margin: auto;
    height: 100px;
    width: 100px;
}

.danjobetsu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 120px 0;
}

.josei {
    background-color: #f7f7f7;
}

.dansei {
    background-color: #f1e9e9;
}

dt {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0 80px 0 0;
    text-align: right;
    font-size: 16px;
}

dd {
    width: 410px;
    margin: 0 0 24px;
    text-align: justify;
    font-size: 14px;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 100px 0 10px 0;
    width: 800px;
}



.info {
    box-sizing: border-box;
    font-size: 16px;
    width: 80%;
    padding: 8px;
    border: solid 1px #bfbfbf;
}

.infoold {
    box-sizing: border-box;
    font-size: 16px;
    width: 20%;
    padding: 8px;
    border: solid 1px #bfbfbf;
}

ul,
li {
    list-style: none;
    margin: 0 0 0 -30px;
}

.category {
    margin: 0 0 24px 0;
    width: 50px;
}

.required::after {
    content: "必須";
    background-color: #3cb371;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

.store_required::after {
    content: "必須";
    background-color: #3cb1b3;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 3px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}


.button {
    text-align: center;

}

button {
    background-color: #3cb371;
    border: none;
    color: #fff;
    font-size: 21px;
    width: 300px;
    margin: auto;
    padding: 19.5px 0;
    cursor: pointer;
}

.button {
    background-color: #3cb371;
    border: none;
    color: #fff;
    font-size: 21px;
    width: 300px;
    margin: auto;
    padding: 19.5px 0;
    cursor: pointer;
}

.store_button {
    text-align: center;

}


.store_button {
    background-color: #3cb1b3;
    border: none;
    color: #fff;
    font-size: 21px;
    width: 300px;
    margin: auto;
    padding: 19.5px 0;
    cursor: pointer;
}

.margin {
    margin-left: 10px;
}

.register_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}



.tooltip {
    position: absolute;
    background-color: #808080;
    color: white;
    font-size: 0.8em;
    border-radius: 0.5em;
    padding: 10px;
    margin: -5px 10px 100px 700px;
    display: none;
}

.tooltip2 {
    position: absolute;
    background-color: #808080;
    color: white;
    font-size: 0.8em;
    border-radius: 0.5em;
    padding: 10px;
    margin: 60px 10px 100px 700px;
    display: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*css調整new*/

.header__wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav-item {
    font-size: 21px;
    margin: 24px;
}

.nav-item>a {
    color: #FFFFFF;
    text-transform: uppercase;
}